* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-page {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: rgb(27, 29, 45);
  margin-top: 20px;
  margin-bottom: 10px;
}

.image-option {
  width: 20vw;
  height: auto;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.stories {
  color: rgb(226, 226, 226);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

/*Kim Dokja Theme*/
body.kim-dokja {
  background-color: rgb(85, 85, 85);
}

.description {
  margin: 20px;
  padding: 20px;
  border: 3px solid rgb(162, 5, 5);
  border-radius: 10px;
  background-color: rgb(34, 34, 34);
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
  text-align: right;
  margin-bottom: 2px;
}

.description-link {
  color: rgb(198, 198, 198);
}

.player-container {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(34, 34, 34);
  height: 75vh;
  width: 25vw;
  margin: 5vh auto;
  padding: 3vw;
  border: 5px solid rgb(115, 0, 0);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album-art img {
  width: 15vw;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  margin-bottom: 15px;
}

.song-info {
  text-align: center;
  margin-bottom: 15px;
}

.song-title {
  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
}

.artist-name {
  font-size: 14px;
  font-weight: normal;
  color: rgb(255, 255, 255);
}

.progress-section {
  margin-bottom: 15px;
  width: 100%;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-bottom: 10px;
  position: relative;
}

.progress-fill {
  width: 30%;
  height: 100%;
  background: rgb(166, 0, 0);
  border-radius: 3px;
  position: relative;
}

.progress-dot {
  width: 14px;
  height: 14px;
  background: rgb(115, 0, 0);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: -7px;
}

.time-info {
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.control-buttons-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.control-buttons-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vw;
}

.control-buttons-top button {
  color: rgb(255, 255, 255);
  background: rgb(166, 0, 0);
  border: none;
  border-radius: 50%;
  padding: 7px;
  cursor: pointer;
  font-size: 12px;
}

.control-buttons-bottom button {
  color: rgb(255, 255, 255);
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
}
.play {
  font-size: 24px;
  padding: 10px 20px;
  transform: scale(1.2);
}

/*Uriel Theme*/
body.uriel {
  background-color: rgb(33, 28, 28);
}

.selection-photo {
  display: flex;
  margin: 5vh auto;
  width: 30vw;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#reminder-container {
  margin: 5vh auto;
  padding: 25px;
  border: 3px solid rgb(239, 235, 157);
  border-radius: 10px;
  background-color: rgb(85, 85, 85);
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 40vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reminder-header {
  margin-bottom: 15px;
  color: #ffffff;
}

.reminder-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-items: center;
}

.reminder-buttons button {
  color: rgb(255, 255, 255);
  background: rgb(255, 182, 92);
  border: 3px solid rgb(255, 255, 255);
  border-radius: 15px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  width: 80px;
}

#time-reminder {
  width: 15vw;
  margin: auto;
  display: none;
}

#time-input {
  display: none;
}

#custom-input {
  display: none;
  margin-top: 15px;
}

#custom-input input {
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 200px;
}

#custom-confirm {
  color: rgb(255, 255, 255);
  background: rgb(255, 182, 92);
  border: 3px solid rgb(255, 255, 255);
  border-radius: 15px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

#reminder-time {
  margin-top: 15px;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  padding: 3px 25px;
  margin-right: 5px;
}

#finalize-reminder {
  color: rgb(255, 255, 255);
  background: rgb(255, 182, 92);
  border: 3px solid rgb(255, 255, 255);
  border-radius: 15px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 15px;
}
